{% extends 'base.html' %}
{% block title %}Contacts{% endblock %}
{% block content %}
<section class="section pb-5">
   <div class="container">
      <div class="row mb-5 align-items-end">
         <div class="col-md-6" data-aos="fade-up">
            <h2>Message</h2>
            <p class="mb-0">If you have any questions or want to discuss something - send me a message, I'll reply ASAP
            </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
            <form action="{% url 'contact' %}" method="post" role="form" class="message-form">
               {% csrf_token %}
               <div class="row gy-3">
               {% for f in form %}
                  <div class="{% cycle 'col-md-6' 'col-md-6' 'col-md-12' 'col-md-12' %} form-group">
                     {{ f.label }}
                     {{ f }}
                  </div>
                  {% endfor %}
                  <div class="col-md-6 mt-0 form-group">
                     <input type="submit" class="readmore d-block w-100" value="Submit">
                  </div>
               </div>
            </form>
         </div>
         <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <ul class="list-unstyled">
               <li class="mb-3">
                  <strong class="d-block mb-1">Address</strong>
                  <span>1 Kaloubani st., Tbilisi, Georgia</span>
               </li>
               <li class="mb-3">
                  <strong class="d-block mb-1">Phone</strong>
                  <span>+995 505 559 348</span>
               </li>
               <li class="mb-3">
                  <strong class="d-block mb-1">Email</strong>
                  <span>marat.fominn@gmail.com</span>
               </li>
               <li class="mb-3">
                
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
{% endblock %}