{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{% block content %} 
<section class="section">
   <div class="container">
      <div class="row mb-4 align-items-center">
         <div class="col-md-6" data-aos="fade-up">
            <h3>Project details</h3>
            <p>Learn more about the complexities and features of the project, the tools used for its development and the functionality of the finished product.</p>
         </div>
      </div>
   </div>
   <div class="site-section pb-0">
   <div class="container">
      <div class="row align-items-stretch">
         <div class="col-md-8" data-aos="fade-up">
            <img src="{{ work.image.url }}" alt="Image" class="img-fluid">
            <div class="pe-5">
               <p>{{ work.description|safe }}</p>
            </div>
         </div>
         <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="sticky-content">
               <h3 class="h3">{{ work.title }}</h3>
               <p class="mb-4"><span class="text-muted">{{ work.category }}</span></p>
               <div class="mb-5">
                  <p>Janguager, libraries and frameworks which I user for this project.</p>
               </div>
               <h4 class="h4 mb-3">Tech stack</h4>
               {{ work.stack|safe }} 
               <p><a href="{{ work.link }}" class="readmore">Project URL</a></p>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="section pt-0">
   <div class="container">
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
         <div class="swiper-wrapper">
            {% for testimony in testimonies %}
            <div class="swiper-slide">
               <div class="testimonial-wrap">
                  <div class="testimonial">
                     <img src="{{ testimony.image.url }}" alt="Image" class="img-fluid">
                     <blockquote>
                        <p>{{ testimony.text }}</p>
                     </blockquote>
                     <p>{{ testimony.name }} {{testimony.lastname }}</p>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
         <div class="swiper-pagination"></div>
      </div>
   </div>
</section>
{% endblock %}